
/* 프로젝트 전체 적용 css */

/* 컬러파레트 */
/* 배경색: #fbf6e9 */
/* 글자색: #737373*/
/* 강조 글자색: #e8a798  */
/* 강조 글자색(연하게): #f5dbd6  */
/* 흐린 글자색: #a6a6a6  */



@charset "UTF-8";
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/* 아이콘 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


/* 사이트 전체 적용 css */
* {
	font-family: 'Gowun Dodum', sans-serif;
	box-sizing:border-box;
	margin:0;
}

body{
	background-color:#fbf6e9;
}



/* 메뉴+content를 감싸고 있는 제일 큰 div */

#totalBox{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:70%;

/* 	overflow-y:auto; */
/* 	overflow-x:hidden; */
}


/* footer */
#footer{
	width:100%;
	text-align:right;
	color: #a6a6a6;
	margin-top:5px;
}



/* 대메뉴 디자인 */

#menuContainerMini, #dateMini{
	display:none;
}


#menuContainer{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.menuList{
	border-radius: 25% 10%;
	background-color:#ffffff;
	margin: 5px 5px 5px 5px;
	cursor:pointer;
	opacity: 0.4;
	font-size:17px;
	padding:5px 5px 5px 5px;
	width:80px;
	text-align:center;
	box-shadow: 2px 1px #a6a6a6;
}

.menuList:hover{
	opacity: 1.0;
	font-weight:bold;
	color: #e8a798;
 	transition: 0.4s;
 	box-shadow: 2px 1px #e8a798;
 	text-decoration: underline;
 	
}


#menu4{
	margin-left:auto;
}

#date{
	margin: 5px 5px 5px 5px;
}






/* 반응형 미디어 태그 */

@media screen and (max-width: 720px){
	
	
	#totalBox{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		width:70%;

	}
	
	
/* 	미니메뉴 디자인 */
	
	#menuContainer{
		display:none;
	}
	
	#menuContainerMini{
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		margin-bottom: 5px;
		
	}
	
	#menuContainerMini a{
	
		background-color:#ffffff;
		cursor:pointer;
		opacity: 0.4;
		font-size:17px;
		width:100%;
		text-align:center;
		box-shadow: 2px 1px #a6a6a6;
		height:40px;
	
	}
	
	#menuContainerMini a:hover{
		opacity: 1 !important;
		font-weight:bold;
		color: #e8a798;
	 	transition: 0.4s;
	 	box-shadow: 2px 1px #e8a798;
	 	height:40px;
	 	text-decoration: underline;
	}
	
	.menuListMini{
		display:none;
		background-color:#ffffff;
		cursor:pointer;
		opacity: 0.4;
		font-size:17px;
		padding:5px 5px 5px 5px;
		width:100%;
		text-align:center;
		box-shadow: 2px 1px #a6a6a6;
	}
	
	.menuListMini:hover{
		opacity: 1.0;
		font-weight:bold;
		color: #e8a798;
	 	transition: 0.4s;
	 	box-shadow: 2px 1px #e8a798;
	 	text-decoration: underline;
	}
	
	#dateMini{
		display:block;
		width:100%;
		margin-bottom:5px;
		margin-top:8px;
		height:40px;
	}

}




@media (max-width: 550px) and (max-height: 995px){
	

	
	#totalBox{
		
		margin-top:50%;
		margin-left:50%;
		
		width:500px;
		height:995px;
		
		overflow:auto;
	}
	
}